<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faRectangleList"></fa-icon>
      </div>
      <div class="value">
        <div class="top">625</div>
        <div class="bottom">Total Visitors</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faShop"></fa-icon>
      </div>
      <div class="value">
        <div class="top">10</div>
        <div class="bottom">Travel Plan</div>
      </div>
    </div>
    <div class="widget red">
      <div class="icon">
        <fa-icon [icon]="faChartBar"></fa-icon>
      </div>
      <div class="value">
        <div class="top">256</div>
        <div class="bottom">Dak Management</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">102</div>
        <div class="bottom">Dak Pending</div>
      </div>
    </div>
  </div>