.container {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  
  .left-section {
    width: 100%;
    // background-color: #f0f0f0; /* Light gray background for the left section */
    padding: 20px;
    // background-color: #d0e8ff;
  }
  
  // .right-section {
  //   width: 50%;
  //   /* Light blue background for the right section */
  //   padding: 20px;
  // }