

<div class="card">
    <div class="card-header text-white bg-primary mb-3">
        <h2>Book Visitor Appointment</h2>
    </div>
    <div class="card-body ">
        <div class="container overflow-hidden text-center">
            <!-- <div class="mb-5">
                <h2>Dak Management(Inward Entry)</h2>
            </div> -->
            
            <div class="row gx-10">
              <div class="col">
                <div class="mb-5">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Visitor Name">
                  </div>
                <div class="mb-5">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Visitor Mobile No">
                  </div>
                <div class="mb-5">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Vehicle No">
                  </div>
                <div class="mb-5">
                    <label for="startDate"></label>
                    <input id="startDate" class="form-control" type="date" />
                  </div>
                  <div class="mb-3">
                    <label for="timeInput" class="form-label"></label>
                    <input type="time" class="form-control" id="timeInput" placeholder="time">
                  </div>
                  <div class="mb-5">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Gate No">
                  </div>  
                  <div class="mb-5">
                    <label for="exampleFormControlInput1" class="form-label"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="reference">
                  </div>  
            
                 
                  <div class="col-auto my-4">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                  </div>
              </div>
              
            </div>
          </div>
    </div>
  </div>




    

