<div class="card mx-5">
  <div class="card-header text-white bg-primary mb-4">
     
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="card-title">Appointment visitor Schedular</h2>
        <!-- <button class="btn btn-primary" (click)="goToOut()">GoTo Outward Entry>></button> -->
    </div>
  </div>

  <div class="card-body mx-5">
    <div class="container overflow-hidden text-center">

      <form (submit)="scheduleVisit($event)" class="row g-3 my-3">
        <div class="col-md-4">
          <label class="form-label">Visitor Name</label>
          <input type="text" class="form-control" [(ngModel)]="visitor.name" name="name" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">Mobile Number</label>
          <input type="tel" class="form-control" [(ngModel)]="visitor.mobile" name="mobile" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">Vehicle Number</label>
          <input type="text" class="form-control" [(ngModel)]="visitor.vehicle" name="vehicle" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">Date</label>
          <input type="date" class="form-control" [(ngModel)]="visitor.date" name="date" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">From Time</label>
          <input type="time" class="form-control" [(ngModel)]="visitor.fromTime" name="fromTime" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">To Time</label>
          <input type="time" class="form-control" [(ngModel)]="visitor.toTime" name="toTime" required>
        </div>
        <div class="col-md-4">
          <label class="form-label">Gate Number</label>
          <input type="text" class="form-control" [(ngModel)]="visitor.gate" name="gate" required>
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-secondary">Schedule Visit</button>
        </div>
      </form>
    </div>
  </div>
     

    
  
  

</div>



<div class="card mx-5 my-5">
  <div class="card-header text-white bg-success mb-4">
     
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="card-title">Scheduled visitors</h2>
        <!-- <button class="btn btn-primary" (click)="goToOut()">GoTo Outward Entry>></button> -->
    </div>
  </div>

  <div class="card-body mx-5">
    <div class="container overflow-hidden text-center">
      <table class="table table-bordered mt-3">
        <thead class="table-dark">
          <tr>
            <th>Visitor Name</th>
            <th>Mobile Number</th>
            <th>Vehicle No.</th>
            <th>Date</th>
            <th>From Time</th>
            <th>To Time</th>
            <th>Gate No.</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of visitorsList; let i = index">
            <td>{{ v.name }}</td>
            <td>{{ v.mobile }}</td>
            <td>{{ v.vehicle }}</td>
            <td>{{ v.date }}</td>
            <td>{{ v.fromTime }}</td>
            <td>{{ v.toTime }}</td>
            <td>{{ v.gate }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="deleteVisit(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  
  
</div>
