.nav-link {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.nav-link i {
  margin-right: 10px;
}

.nav-link:hover {
  background-color: #495057;
  border-radius: 5px;
}

h5 {
  font-weight: bold;
}

.vh-100 {
  min-height: 100vh;
}
